[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-5.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg

package-name = plone.jsonapi.core
package-extras = [test]

parts +=
    code-analysis
    createcoverage
    omelette
    zopepy

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[versions]
# versions need to match the versions in requirements.txt
setuptools = 44.1.1
zc.buildout = 2.13.8
# last Python 2.7-compatible releases (2.x / newer drop py2.7)
werkzeug = 1.0.1
dicttoxml = 1.7.4