[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.3.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg

package-name = plone.jsonapi.core
package-extras = [test]

parts +=
    code-analysis
    createcoverage
    omelette
    zopepy

[code-analysis]
recipe = plone.recipe.codeanalysis
directory = ${buildout:directory}/src/plone/jsonapi/core
clean-lines = True
deprecated-aliases = True
flake8-extensions =
    flake8-blind-except
    flake8-coding
    flake8-debugger
    flake8-quotes
flake8-ignore = E501
multiprocessing = True
return-status-codes = False

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}

[versions]
# use latest version of setuptools
setuptools =
pycodestyle = 2.2.0

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy
